.roomList {
    border: 1px solid blue;
    float: left;
    width: 10%;
    cursor: pointer;
    padding: 10px;
    margin: 0;
    list-style: none;
}
.roomList li {
    padding: 10px;
}
.roomList li.selected {
    border: 1px solid red;
}
.roomList li:hover {
    background-color: aliceblue;
}

.rightSide {
    float: left;
    margin: 0;
    padding-left: 20px;
    width: 80%;
    height: 100%;
}

.composer {
    border: 1px solid saddlebrown;
}

.timeline {
    border: 1px solid green;
    list-style: none;
}

.timelineEvent {
    padding: 5px;
}
.timelineEvent:hover {
    background-color: aliceblue;
}
.timelineEvent .timestamp {
    color: grey;
}
.timelineEvent .sender {
    color: forestgreen;
}
