.roomList {
    border: 1px solid blue;
    float: left;
    width: 10%;
    cursor: pointer;
    padding: 10px;
    list-style: none;
}
.roomList li {
    padding: 10px;
}
.roomList li.selected {
    border: 1px solid red;
}
.roomList li:hover {
    background-color: aliceblue;
}

.timeline {
    border: 1px solid green;
    float: left;
    width: 30%;
    height: 100%;
    padding: 20px;
    margin-left: 10px;
    list-style: none;
}

.timelineEvent {
    padding: 5px;
}
.timelineEvent:hover {
    background-color: aliceblue;
}
.timelineEvent .timestamp {
    color: grey;
}
.timelineEvent .sender {
    color: forestgreen;
}
