.roomList {
    border: 1px solid blue;
    float: left;
    width: 10%;
    cursor: pointer;
    padding: 10px;
}
.roomList li {
    padding: 10px;
}
.roomList li.selected {
    border: 1px solid red;
}

.timeline {
    border: 1px solid green;
    float: left;
    width: 60%;
    height: 100%;
    margin-left: 10px;
}
